<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ファイルアップロード</title>
    <link rel="stylesheet" type="text/css" href=../static/index.css>
  </head>
  <body>
    <p id="tabcontrol">
      <a href="#tabpage1">Home</a>
      <a href="#tabpage2">アップロード</a>
      <a href="#tabpage3">グレイスケール</a>
    </p>
    <div id="tabbody">
      <div id="tabpage1">
        <h1>ファイルアップロード</h1>
        <p>
          <input type="file" 　accept="image/*" />
        </p>
        <button type="submit" id="Image_Push">アップロード</button>
      </div>
      <div id="tabpage2">アップロードされた画像が表示される</div>
      <div id="tabpage3">グレースケール画像が表示される</div>
    </div>
  </body>
</html>
